header {
  background-color: blue;
  text-align: center;
  color: white;
  padding: 10px;
}

body {
  background-color: white;
}

div {
  background-color: white;
  color: blue;
  padding: 10px;
  width: 300px;
  opacity: 70%;
  margin: 20px;
}

footer {
  background-color: blue;
  text-align: center;
  color: white;
  padding: 10px;
}